<!DOCTYPE html>
<html>
<head>
  <title>AngularJS WebSocket Test</title>
  <meta charset="utf-8" >
  <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-csp.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.min.js"></script>
  <script type="text/javascript" src="../dist/angular-websocket.js"></script>
</head>
<body class="ng-cloak" id="ng-app" ng-app="chat">
  <div ng-controller="MessengerController as messengerCtrl">
    <h2>WebSocket Test</h2>
    Connection: {{ Messages.status() }}
    <form ng-submit="submit(new_message)">
      <input type="text" ng-model="username">
      <input type="text" ng-model="new_message" autofocus required>
      <button type="submit">Send Message</button>
    </form>
    <div ng-repeat="message in Messages.collection | orderBy:'-timeStamp' track by $index">
      <b>{{ message.username | capitalize }}</b>: <small>{{ message.timeStamp | date:'medium' }}</small>
      <br>
        {{ message.content }}
      <br>
      <br>
    </div>

    <div id="output">

    </div>


  </div>

  <script language="javascript" type="text/javascript">
    angular.module('chat', [
      'ngAnimate',
      'ngWebSocket'
    ])
    .factory('Messages', function($websocket) {
      var ws = $websocket('ws://echo.websocket.org/');
      var collection = [];

      ws.onMessage(function(event) {
        console.log('message: ', event);
        var res;
        try {
          res = JSON.parse(event.data);
        } catch(e) {
          res = {'username': 'anonymous', 'message': event.data};
        }

        collection.push({
          username: res.username,
          content: res.message,
          timeStamp: event.timeStamp
        });
      });
      ws.onError(function(event) {
        console.log('connection Error', event);
      });
      ws.onClose(function(event) {
        console.log('connection closed', event);
      });
      ws.onOpen(function() {
        console.log('connection open');
        ws.send('Hello World');
        ws.send('again');
        ws.send('and again');
      });
      // setTimeout(function() {
      //   ws.close();
      // }, 500)

      return {
        collection: collection,
        status: function() {
          return ws.readyState;
        },
        send: function(message) {
          if (angular.isString(message)) {
            ws.send(message);
          }
          else if (angular.isObject(message)) {
            ws.send(JSON.stringify(message));
          }
        }

      };
    })
    .controller('MessengerController', function($scope, Messages) {
      $scope.username = 'anonymous';

      $scope.Messages = Messages;

      $scope.submit = function(new_message) {
        if (!new_message) { return; }
        Messages.send({
          username: $scope.username,
          message: new_message
        });
        $scope.new_message = '';
      };


    })
    .filter('capitalize', function() {
      function capWord(txt) {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
      }
      return function(input, isEveryWord) {
         return (!input) ? '' : (!isEveryWord) ? capWord(input) : input.replace(/([^\W_]+[^\s-]*) */g, capWord);
      };
    });

    var wsUri = "ws://echo.websocket.org/";

    var output;

    function init() {
      output = document.getElementById("output");
      testWebSocket();
    }

    function onOpen(evt) {
      writeToScreen("CONNECTED");
      doSend("WebSocket rocks");
    }
    function onClose(evt) {
      writeToScreen("DISCONNECTED");
    }
    function onMessage(evt) {
      writeToScreen('<span style="color: blue;">RESPONSE: ' + evt.data+'</span>');
      websocket.close();
    }
    function onError(evt) {
      writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
    }
    function doSend(message) {
      writeToScreen("SENT: " + message);
      websocket.send(message);
    }
    function writeToScreen(message) {
      var pre = document.createElement("p");
      pre.style.wordWrap = "break-word";
      pre.innerHTML = message;
      (output || document.getElementById('output')).appendChild(pre);
    }

    function testWebSocket() {
      websocket = new WebSocket(wsUri);
      websocket.onopen = function(evt) {
        onOpen(evt)
      };
      websocket.onclose = function(evt) {
        onClose(evt)
      };
      websocket.onmessage = function(evt) {
        onMessage(evt)
      };
      websocket.onerror = function(evt) {
        onError(evt)
      };
    }

    window.addEventListener("load", init, false);
  </script>
</body>
</html>

